@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Raleway:400,700');

:root {
    --pink: #f20f97;
    --black: #000;
    --white: #fff;
    --transition: .4s ease;
    --gray: gray;
    --lightgray: #f8f8f8;
    --font-family: 'Monteserrat', sans-serif;
    --font-size: 16px;
    --font-weight: 400;
    --margin: 30px 0;
    --line-height: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background: var(--white);
    font-size: var(--font-size);

}

ul {
    list-style: none;
}

.container {
    padding: 30px 70px;
}

button {
    color: var(--black);
    background: transparent;
    padding: 15px 40px;
    border-radius: 30px;

}

section .info h3,
section .statistic h3 {
    font-weight: 700;
    font-size: 2rem;
}

/***header***/
header {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(img/header.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: var(--white);
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 3rem;
}

header h2 {
    font-weight: 400;
}

header h2 span {
    font-weight: 900;
}

header nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    margin-left: 50px;
    letter-spacing: 1px;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header div p:nth-of-type(1) {
    font-weight: 600;
    margin: 150px 0 30px 0;
}

header div p:nth-of-type(2) {
    font-weight: 300;
    font-style: italic;
    margin-top: 30px;
}

/***info***/
section .info {
    display: flex;
    justify-content: space-between;
}

section .info div {
    flex: 0 0 60%;
}

section .info img {
    flex: 0 0 35%;
    width: 100%;
    height: 80%;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgb(201, 199, 199);
}

section .info h3 {
    font-weight: 700;
    font-size: 2rem;
    margin: 150px 0 50px 0;
}

section .info div p:nth-of-type(1) {
    font-weight: 600;
}

section .info div hr,
section .about div hr {
    width: 20%;
    color: var(--pink);
    margin: var(--margin);
}

section .info div p:nth-of-type(2) {
    font-weight: 300;
    font-size: .9rem;
    line-height: var(--line-height);

}

section .info div p:nth-of-type(3) {
    font-weight: 300;
    font-size: .9rem;
    line-height: var(--line-height);
    margin: var(--margin);
}

section .statistic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

section .statistic div {
    text-align: center;

}

section .statistic div {
    text-align: center;
}

section .statistic div hr {
    width: 30%;
}

section hr {
    margin: 20px auto;
    color: var(--gray);
}

section .statistic div p,
footer p {
    font-size: 0.9rem;
    font-weight: 600;
}

/***about***/
section .about {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section .about article {
    display: flex;
}

section .about article div {
    margin: 70px 20px 10px 600px;
    text-align: right;

}

section .about article div hr {
    position: relative;
    left: 450px;
    width: 50%;
}

section .about article div p {
    font-weight: 300;
    font-size: .9rem;
    line-height: var(--line-height);
    margin: var(--margin);
}

section .about article img {
    width: 370px;
    height: 250px;
}

section .about article:nth-child(even) div {
    margin: 70px 600px 10px 20px;
    text-align: left;
}

section .about article:nth-child(even) {
    flex-direction: row-reverse;
}

section .about article:nth-child(even) div hr {
    position: relative;
    left: -100px;
    width: 50%;
}

/***offer***/
section .offer {
    display: flex;
    justify-content: space-evenly;
}

section .offer div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 0 30%;
}

section .offer div h3,
footer h3 {
    color: var(--pink);
    font-weight: 600;
    font-size: 1.3rem;
}

section .offer div p {
    font-weight: 300;
    font-size: .9rem;
}

section .offer img {
    box-shadow: 0 0 10px 10px rgb(201, 199, 199);
    border-radius: 20px;
    width: 100%;
    flex: 0 0 30%;
}

/***gallery***/
.gallery article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
}

.gallery article p {
    font-weight: 600;
}

.gallery article hr {
    width: 30%;
    margin: var(--margin);
    color: var(--pink);
}

.gallery .images div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: var(--lightgray);
}

.gallery .images div img {
    width: 100%;
    flex: 0 0 23%;
    margin: 20px auto;
}

/***contact***/
.contact .contactform {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact .contactform div {
    display: flex;
    flex-direction: column;
    flex: 0 0 55%;
}

.contact .contactform div input {
    margin: 5px 0;
    height: 40px;
}

.contact .contactform div textarea {
    margin: 5px 0;
}

.contact .contactform div button {
    width: 25%;
    margin-top: 50px;
}

.contact .contactform img {
    width: 100%;
    flex: 0 0 30%;
    box-shadow: 0 0 10px 10px rgb(201, 199, 199);
    border-radius: 20px;
}

/***footer***/
footer {
    text-align: center;
}

footer h3 {
    margin: var(--margin);
}

footer p {
    margin: var(--margin);
}

/***copyright***/

footer .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--lightgray);
}

footer .copyright ul {
    display: flex;
    justify-content: space-between;
}

footer .copyright p {
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
}

footer .copyright a i {
    color: var(--pink);
    font-size: 1.5rem;
    margin-left: 50px;
    text-align: center;
    padding-right: 50px;
}

footer span {
    color: var(--pink);
}