@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:wght@200;300;400&display=swap');

:root {
    --primary: #f4f4f4;
    --white: #ffffff;
    --font-color: #383838;
    --font-family: 'Source Sans Pro', sans-serif;
    --logo: 'Pacifico', cursive;
    --padding: 100px 0;
    --margin: 30px 0;
    --font-size: 18px;
    --transition: .3s ease;
}

/***basic styles***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background: var(--primary);
}

.container {
    width: 80%;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
    letter-spacing: 4px;
}

button {
    padding: 15px 40px;
    border: 2px solid var(--font-color);
    border-radius: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: transparent;
    font-size: 0.7rem;
    cursor: pointer;
    margin: var(--margin);
}

button:hover {
    border: 2px solid red;
    color: red;
    transform: var(--transition);
}

/***header***/
header {
    background-image: url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header hgroup {
    text-align: center;
}

header hgroup h1 {
    font-family: var(--logo);
    font-size: 3rem;
    color: var(--white);
    margin-bottom: 10px;
}

header hgroup p {
    color: var(--primary);
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 4px;
    margin: 30px 0;
    font-weight: 200;
}

header hgroup hr {
    border: none;
    background: var(--white);
    height: 1px;
}

/***intro***/
.intro {
    background: var(--white);
    padding: var(--padding);
    margin: 100px auto;
    text-align: center;
}

.intro i {
    border: 2px solid var(--font-color);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 2rem;
    color: var(--font-color);
    padding: 40px;
    border-radius: 50%;
}

.intro h2 {
    margin: var(--margin);
    font-size: 2rem;
    color: var(--font-color);
    text-transform: uppercase;
}

.intro p {
    margin: var(--margin);
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 0.7px;
}

/***footer***/
.blog {
    padding: 0px 0 100 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.holder {
    overflow: hidden;
}

.blog article {
    flex: 0 48%;
    margin-bottom: 60px;

}

.featured-image {
    position: relative;
}

.featured-image img {
    width: 100%;
    display: block;
    border-radius: 5px 5px 0 0;
}

.featured-image h3 {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 2rem;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    text-shadow: 0 0 3px black;
}

.blog .text {
    background: var(--white);
    text-align: center;
    padding: 70px;
    border-radius: 5px;
}

.blog a {
    display: block;
    text-decoration: none;
}

.blog a:hover {
    transform: scale(1.1);
    transition: .5s ease;
}