@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

:root {
    --font-family: 'Raleway', sans-serif;
    --font-size: 18px;
    --font-color: #9d9d9e;
    --button-hover: #ee5072;
    --white: #fff;
    --button: #f32853;

    --gray: #f0f0f1;
    --darkgray: #202020;
    --transition: .3s ease;
    --margin: 100px 0;
    --padding: 50px 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--font-color);
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background: var(--white);
}

button {
    background-color: var(--button);
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--white);
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    margin: 50px 0;
}

button:hover {
    background-color: var(--button-hover);
}

a:hover {
    transition: var(--transition);
}

article {
    flex: 0 0 40%;
    margin-right: 30px;
    line-height: 1.8;
}

/*article h2,
.gallery h2 {
    color: var(--darkgray);
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
}*/

.intro article h2,
.gallery h2,
.blog h2,
footer h2 {
    color: var(--darkgray);
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
}

.intro article h4,
.blog h4,
footer h4 {
    color: var(--font-color);
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.8;
    margin: 10px 0;
}

header div p,
.gallery p,
footer div p {
    color: var(--font-color);
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-top: 30px;
}

/***header***/
header {
    background: linear-gradient(rgba(29, 29, 29, 0.7), rgba(72, 72, 72, .9)), url(img/banner.jpg);
    background-position: center top;
    background-size: cover;

    background-attachment: fixed;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 70px 70px;
}

header ul {
    display: flex;
}

.logo {
    font-size: 1.5rem;
    color: var(--white);
    text-transform: uppercase;
}

.logo span {
    font-weight: 700;
}

header nav ul {
    display: flex;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
}

header ul li a {
    color: var(--font-color);
    margin-left: 70px;
    font-size: 1.2rem;
}

header ul li a:hover {
    color: var(--white);
    opacity: 1;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}

header div h1,
footer div h1 {
    font-size: 4rem;
    color: var(--white);
    margin-bottom: 30px;
}

/***intro***/
.intro {
    padding: var(--padding);
    width: 65%;
    display: flex;
    justify-content: center;
    margin: auto;

}

.intro p {
    font-weight: 300;
}

.intro p:first-child {
    padding-bottom: 30px;
}

/***gallery***/
.gallery {
    background-color: var(--gray);
    padding: var(--padding);
    margin: auto;
}

.gallery h2,
.gallery p {
    text-align: center;
}

.gallery article {

    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
}

.gallery .container {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.gallery .container div h3 {
    background: var(--white);
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 40px 0;
    box-shadow: 0px 0px 3px var(--gray);
}

.gallery .container div img {
    width: 100%;
    display: block;
}

.gallery .container div {
    flex: 0 0 48%;
}

.gallery .buttons {
    display: flex;
    justify-content: center;
}

.gallery button {
    margin-left: 10px;
}

/***blog***/
.blog {
    padding: var(--padding);
    margin: auto;
    width: 65%;
}

.blog article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: var(--margin);
}

.blog article .col {
    display: flex;
    flex: 0 0 47%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.blog article img {
    width: 100%;
    border-radius: 50%;
    border: 8px solid var(--font-color);
    display: block;
}

.blog article img:hover {
    border: 8px solid var(--button);
    transition: var(--transition);
}

.blog article .col .text {
    flex: 0 0 66%;
    font-weight: 100;
}

.blog article .col .img {
    flex: 0 0 27%;
}

.blog article .col:nth-child(even) .text {
    order: 2;
}

.blog article .col:nth-child(odd) .img {
    order: 1;
}

.blog article .col:nth-child(odd) .text {
    text-align: right;
}

.blog .text h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.8;
    color: var(--darkgray);
}

.blog .text h5 {
    text-transform: uppercase;
    font-size: 1rem;
}

.blog .text p {
    font-size: 1.1rem;
}

/***footer***/
footer {
    background: linear-gradient(rgba(29, 29, 29, 0.7), rgba(72, 72, 72, .9)), url(img/banner.jpg);

}

footer div {
    margin: auto;
    text-align: center;
    padding: var(--padding);

}

.copyright {
    background: var(--gray);
    padding-top: 20px;
}

.copyright .copy {
    display: flex;
    justify-content: center;
    align-items: center;

}

.copyright .copy a i {
    font-size: 2.5rem;
    color: var(--font-color);
    margin-left: 30px;
    margin-top: 30px;
}

.copyright ul {
    list-style: disc;
    box-sizing: border-box;
    text-align: center;
    margin: 20px 0;

}

.copyright ul li {
    text-align: center;
    list-style: none;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--font-color);
    margin: 0 20px 50px 0;

}

.copyright ul li:nth-child(2) {
    border-left: solid 1px rgba(144, 144, 144, 0.25);
    border-right: solid 1px rgba(144, 144, 144, 0.25);
    padding: 0 40px;
}

@media(max-width: 767px) {
    header {}

    header nav {
        line-height: 2rem;
        flex-direction: column;
        text-align: center;
        padding-top: 20px
    }

    header nav .logo {
        font-size: 1rem;
    }

    header nav ul li a {
        font-size: 1rem;
    }
}